* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  font-family: "Playwrite VN";
  background-image: url("img2.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
nav {
  margin: 25px 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 111px;
  
}

nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
img {
  border-radius: 100%;
  scale: 0.75;
  margin: 0 0 0 50px;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: lavender;
  font-size: 1.5rem;
}
.left {
  font-size: 1.5rem;
}
.first {
  display: flex;
  justify-content: space-around;
  margin: 80px 50px;
  
}
.firstsection > div {
  width: 30%;
}
.leftsection {
  color:rgb(147, 63, 163);
  font-size: 2.5rem;
}
.rightsection img {
  width: 100%;
  scale: 1.25;
}
.purple {
  color:rgb(150, 52, 255);
  font-family:Satisfy;
  font-size: 4.5rem;
}
@media (max-width: 1000px) {
*{
    font-size: 20px !important;
}
} 

